.exhibition-list {
  margin: 40px 0 40px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  &__heading {
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  &__item {
    box-shadow: 0 0 10px 0 #fff;
    border-radius: 4px;
    cursor: pointer;
    &_picture {
      width: 440px;
      height: 350px;
      border-radius: 15px 0 0 15px;
    }
    &_info {
      background-color: #fff;
      border-radius: 0 15px 15px 0;
      text-align: center;
      &_text {
        text-transform: uppercase;
        font-weight: bold;
        margin: 15px 10px;
        cursor: text;
      }
    }
  }
}
